<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>initServlet</servlet-name>
        <servlet-class>com.crocoro.servlet.OnStartUP</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <filter>
        <filter-name>downFilter</filter-name>
        <filter-class>com.crocoro.servlet.DownloadFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>downFilter</filter-name>
        <url-pattern>/upload/*</url-pattern>
    </filter-mapping>
</web-app>